*.iml
*.ipr
*.iws
.idea/
restapi/build
restapi/lib
discover/build
discover/lib
.git/
.gradle
*.class
/out
/logs
*.DS_Store
/classes/*
classes
/build/
config/
lib/
zuul/build/
restapi/build/
restapi/*.iml
server/*.iml
discover/*.iml